div{
    background-color: gray;
    padding: 10px;
    margin: 20px 15px;

}
.first{
    width: 265px;
    margin: auto;
    
}
img{
    /* margin-top: 20px; */
    display: block;
    margin: auto;
    margin-top: 20px;
}
#kol{
    font-size: 50px;
    color: rgb(28, 44, 75);
    background-color: rgb(76, 220, 223);
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 2px;
    border: 10px solid rgb(108, 173, 199);
    border-radius: 10px;
    margin-bottom: 100px;
}