div{
    background-color: gray;
    padding: 10px;
    margin: 20px 15px;

}
.first{
    width: 265px;
    margin: auto;
    
}
img{
    /* margin-top: 20px; */
    display: block;
    margin: auto;
    margin-top: 20px;
}